<div id="topofpage"></div>
{{#with curated_post}}
  <div id="dish-background">
    <ul id="dish-list">
        <li id="dish-list-name">{{dish_name}}</li>
        <li id="dish-list-description">{{dish_description}}</li>
        <li id="dish-list-price">{{price}}</li>
    </ul>
  <div id="nav">
    <a href="#restaurant-info" id="dish-list-restaurant">{{restaurant.name}}</a>
  </div>
  <button id="upvote-btn" data-id="{{id}}"> {{up_vote}}</button>
  <button id="downvote-btn" data-id="{{id}}">{{down_vote}}</button>
  <p id="clicked">0</p>

  </div>

  <a name="restaurant-info"></a>
  <div id="restaurant-background">
    <ul id="restaurant-list">
      {{#with restaurant}}
        <li id="restaurant-list-name">{{name}}</li>
        <li id="restaurant-list-address">{{address}}</li>
        <li id="restaurant-list-tel">{{tel}}</li>
        <li id="restaurant-list-cuisine-type">{{cuisine_type}}</li>
        <li id="restaurant-list-price-range">{{price_range}}</li>

    </ul>
    <div id="nav-return">
      <a id="dish-link" href="#topofpage">The dish</a>
    </div>

  </div>

<script>
  L.marker([{{latitude}}, {{longitude}}]).addTo(map).bindPopup("{{name}}") 
</script>

{{/with}}
{{/with}}