<ul>
  {{#with restaurants.[0]}}
    <li>{{name}}</li>
    <li>{{location}}</li>
    <li>{{tel}}</li>
    <li>{{cuisine_type}}</li>
    <li>{{price_range}}</li>
  {{/with}}
</ul>
<p><a id="back" href="#">Back</a></p>