<h1> Add Curated Post </h1>

<%= form_for @curated_post, :html => {:multipart => true} do |f| %>  
  <p>  
    <%= f.label :dish_name %><br />  
    <%= f.text_field :dish_name %>  
  </p>
  <p>  
    <%= f.label :dish_description %><br />  
    <%= f.text_field :dish_description %>  
  </p>
  <p>  
    <%= f.label :restaurant_id %><br />  
    <%= f.select :restaurant_id, Restaurant.all.map{|restaurant| [restaurant.name, restaurant.id]} %>  
  </p>   
  <p>  
    <%= f.file_field :image %>  
  </p>  
  <p><%= f.submit %></p>  
<% end %>  